---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Articles from '../components/Articles.astro';
import { fetchArticles } from '../services/notion';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const articles = await fetchArticles();
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="container mx-auto">
			<Articles articles={articles} />
		</main>
		<Footer />
	</body>
</html>
